* {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #ffffff;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.list1 {
  display: flex;
  padding: 10px 0px;
}

.list2 {
  display: flex;
  padding: 10px 0px;
}

.list1 li {
  list-style: none;
}

.list2 li {
  list-style: none;
}

.list1 li a {
  text-align: center;
  text-decoration: none;
  color: #550d0e;
  padding: 10px 15px;
  font-size: 20px;
}

.list1 li a:hover {
  color: red;
  font-size: 22px;
}

.list2 li a {
  text-align: center;
  text-decoration: none;
  color: #550d0e;
  padding: 0px 20px;
  font-size: 20px;
  cursor: pointer;
}

.list2 li a:hover {
  color: red;
  font-size: 22px;
}

.list1 img {
  width: 20px;
  margin-top: 2px;
}

.list1 img:hover {
  width: 25px;
}

.search {
  display: flex;
  height: fit-content;
  background-color: #f9f4db;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  min-width: 97vw;
  border-radius: 10px;
  margin: 0px 10px;
}

.text-div {
  display: flex;
  width: 50vw;
}

#btnsrch {
  color: #550d0e;
  background-color: #e7d6ac;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px 20px;
  margin-right: 30px;
  border: 2px solid #e7d6ac;
}
#btnsrch:hover {
  background-color: #f9f4db;
}
#btnadv {
  padding: 10px 20px;
  margin-right: 50px;
  color: #550d0e;
  background-color: #f9f4db;
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid #e7d6ac;
}
#btnadv:hover {
  background-color: #e7d6ac;
}

#btns-div {
  display: flex;
  justify-content: space-between;
}

#txtar {
  padding: 10px;
  padding-right: 50px;
  width: 50vw;
  height: fit-content;
  border: 2px solid #f9f4db;
  border-radius: 10px;
  font-size: medium;
  background-image: url(./SearchIcon.jpg);
  background-position: 97%;
  background-size: 20px;
  background-repeat: no-repeat;
}

#brdnme {
  font-size: 30px;
  margin: 10px 10px;
  color: #550d0e;
}

.shop {
  display: flex;
  margin: 10px 10px;
}

.select {
  background-color: red;
}

#mainbody {
  display: flex;
  background-color: #f9f4db;
  height: fit-content;
  width: fit-content;
  border-radius: 15px;
  margin: 10px 10px;
}

#bookspace {
  background-color: #e7d6ac;
  margin: 15px 20px;
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#signupbar {
  background-color: #e7d6ac;
  margin: 15px 20px;
  width: fit-content;
  border-radius: 15px;
  /* display: flex; */
}

#bestsellers {
  background-color: #f9f4db;
  height: fit-content;
  width: initial;
  border-radius: 15px;
  margin: 10px 10px;
  padding: 20px;
}

#books {
  background-color: #e7d6ac;
  height: fit-content;
  margin: inherit;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}
#books::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
#books::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}
#signupbar h3 {
  display: block;
}

#signemail {
  width: 220px;
  margin: 10px 15px;
  padding: 7px;
  border: 2px solid #e7d6ac;
  border-radius: 5px;
}

/* #bookspcimg {
      width: 120px;
      height: 100px;
    } */

#signupbtn {
  width: 110px;
  margin: 5px 15px;
  padding: 10px;
  color: #550d0e;
  background-color: #f9f4db;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #e7d6ac;
  background-image: url(./add-user.png);
  background-position: 97%;
  background-size: 20px;
  background-repeat: no-repeat;
}

#signupbtn:hover {
  background-color: #e7d6ac;
  border-color: #f9f4db;
}

/* #notepadimg{
        width: 120px;
        height: 100px;
        justify-content: end;
    } */
.heading {
  padding: 5px;
  color: #550d0e;
}

#best_Selling_Header {
  margin: 10px 10px;
  color: #550d0e;
  text-align: center;
}

.book-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  color: #550d0e;
  font-size: medium;
  padding: 10px 10px;
  text-align: center;
  margin: 10px 0;
}

.book_Imgs {
  height: 200px;
}

.downloadBook {
  border-radius: 10px;
  color: #550d0e;
  font-size: medium;
  width: 130px;
  padding: 10px 10px;
  margin-top: 20px;
  border: 2px solid #f9f4db;
  background-color: #f9f4db;
  background-image: url(./download.png);
  background-position: 97%;
  background-size: 20px;
  background-repeat: no-repeat;
  text-align: center;
  cursor: pointer;
}

.downloadBook:hover {
  background-color: #e7d6ac;
}

.bookSpace1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.Signup-news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  text-align: center;
  color: #550d0e;
  font-size: x-large;
  font-weight: bold;
  background-color: #f9f4db;
  margin: 10px 10px;
  padding: 20px;
  border-radius: 10px;
  width: auto;
}
